<!-- Boilerplate -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Page name-->
    <title>Bank Statement Manager</title>
</head>
<body>
    <!-- Title and text -->
    <h1>Bank Statement Manager</h1>
    <p>Upload your bank statemnt CSV file to get started</p>

    <!-- Bank statement selection interface -->
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="bankstatement" accept=".csv">
        <button type="submit">Upload Statement</button>
    </form>
</body>
</html>